body {
	padding-left: 50px;
	padding-right: 50px;
} 

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
    background-color: #fff;
}

.footer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tender-items {
	padding: 15px;
}

.tender-item {
	border-bottom: 1px solid #ccc;
	padding-top:15px;
	padding-bottom:15px;
}
.tender-item-thumbial {
	width: 100px;
	height: 100px;
	margin-top: 15px;
}

.form-horizontal {
	padding-top: 25px;
}

.sidebar {
	margin-top:16px;
	margin-left: -15px;
}

.selectpicker {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
}

.suitable_price {
	width: 45%;
}

.date_filter {
	margin-bottom: 40px;
}

.page_pagination {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 30px;
}

.items_number_dropdown_title {
	padding: 5px;
	color: #aaaaaa;
}

.page_body {
	margin-left: 0px;
}

#startDate, #endDate {
	width:49%;
}

#startDate input, #endDate input {
	font-size:11px;
}


